PORT=3000
NODE_ENV=production
ALLOWED_ORIGIN=https://catarsysdev.com,https://www.catarsysdev.com,http://localhost:4200,http://localhost:5173

DB_SERVER=TU_SERVIDOR_SQL
DB_PORT=1433
DB_NAME=TU_BASE_DE_DATOS
DB_USER=TU_USUARIO
DB_PASSWORD=TU_PASSWORD
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false
DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_IDLE_TIMEOUT=30000
TURNSTILE_SECRET_KEY=
